<html>
<head>
	<title>Flight Deals</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YG6B9BWQLC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YG6B9BWQLC');
</script>
</head>
<body>

	Departure City: <input type='text' placeholder="San Francisco" id='from'>
	 <button onclick="sendUrl();">Search</button>


	<script>
	    function sendUrl(){
	        window.location.assign("?from="+document.getElementById("from").value);
	    }
	</script>

	<h1>Flight Deals from {{departure_city}}</h1>
	{% for article in articles %}
	<b><a href="/detail/{{article.id | base64_encode}}">{{article.title}}</a></b><br />
	<i>{{article.published}}</i><br />
	{{article.description|remove_hrefs|safe}}
	<hr />
	{% endfor %}</body>
</html>